.Layout main {
    padding-top: 66px;
    min-height: calc(100vh - 66px);
    display: flex;
}
.Layout main article {
    width: calc(100vw - 180px);
    padding: 30px;
}
.SpinnerToMiddle {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}