.Dropzone {
    width: 100%;
    height: 50vh;
    padding: 30px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dropzone p {
    margin: 0;
}

.ProgressBar {
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    display: block;
    position: relative;
    box-sizing: border-box;
}
.ProgressLine, .Percentage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}
.ProgressLine {
    background-color: green;
}
.Percentage {
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
