.Header {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    z-index: 904;
    box-shadow: 0 2px 3px rgba(0,0,0,.5);
    height: 66px;
    width: 100%;
    min-width: 320px;
    padding: 0 32px 0 40px;
    box-sizing: border-box;
}
.HeaderContent {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.Logo a, .Logout a {
    font-size: 24px;
    color: white;
    font-family: "Droid Sans", sans-serif;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}